/* Contenedor de Generos */

.containerGeneros {
  width: 100%;
  max-width: 250px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;             
  flex-direction: column;    
  align-items: center;
  padding: 10px;
 }

  .genresScrollContainer{
    position: sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .genreItem {
    width: 100%;
    max-width: 180px;
    height: 100px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    margin: 10px 0;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 255, 255, 0.08);
    transition: all 0.3s ease;
    border-radius: 8px;
  }
  
  .genreItem:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 20px rgba(0, 255, 255, 0.15);
  }
  
  .genreItem h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0 0 5px #00ffe5;
    transition: all 0.3s ease;
    padding: 0 5rem;
    box-sizing: border-box;
  }
  
  .genreItem h3:hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 10px #00ffe5;
  }
  
  .scrollButtons {
    display: none;
  }

  @media (max-width: 1024px) {
    /* === GENRES === */
  .containerGeneros {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: none;
    height: auto;
    padding: 15px 20px;
  }

  .containerGeneros > .genreItem {
    display: none;
  }

  .genresScrollContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex: 1;
    overflow: hidden;
    transition: none;
    scroll-behavior: smooth;
    position: relative; 
   padding: 10px 0;
    -webkit-overflow-scrolling: touch;
  }

  .genreItem,
  .genre-button {
    flex: 0 0 auto;
    width: 180px;
    height: 100px;
    margin: 0;
  }

  .genre-button {
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 8px;
    background: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
    font-weight: bold;
  }

  /* === SCROLL BUTTONS === */
  .scrollBtn {
    background: rgba(0, 255, 255, 0.1);
    border: 1px solid rgba(0, 255, 255, 0.3);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    color: #00ffe5;
    cursor: pointer;
    transition: all 0.3s ease
  }

  .scrollBtn:hover {
    background: rgba(0, 255, 255, 0.2);
    transform: scale(1.1);
  }

  .scrollButtons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
   
  }
  }