.cardGame {
    position: relative;
    display: flex;
    align-items: center;
     max-width: 400px;
    width: 100%;
    height: 360px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 255, 255, 0.08);
    transition: transform 0.3s ease;
  }
  
  .cardGame:hover {
    transform: scale(1.01);
  }
  
  /* Fondo: imagen ocupa todo el contenedor */
  .imgBackground {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: transform 0.4s ease;
  }
  
  .cardGame:hover .imgBackground {
    transform: scale(1.1);
  }
  
  /* Overlay: contenido encima de la imagen */
  .cardOverlay {
    position: relative;
    z-index: 1;
    margin-left: auto;
    width: 50%;
    height: 100%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    color: #e0f7fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
    border-left: 2px solid rgba(0, 255, 255, 0.4);
  }
  
  .cardOverlay h3 {
    font-size: 1.2rem;
    color: #00ffe5;
    font-family: "Orbitron", sans-serif;
  }
  
  .ratings p {
    font-size: 0.85rem;
    margin: 0;
    color: #c0f9ff;
  }
  
  .platforms,
  .genres {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
  
  .platforms span,
  .genres span {
    font-size: 0.7rem;
    padding: 4px 10px;
    border-radius: 12px;
    background-color: rgba(2, 36, 36, 0.15);
    border: 1px solid rgba(0, 255, 255, 0.4);
    color: #00ffe5;
    transition: all 0.2s ease;
  }
  
  .platforms span:hover,
  .genres span:hover {
    background-color: #00ffe5;
    color: #0f0f0f;
  }

  .InputButton {
      width: auto;
      align-self: flex-start;
      background: linear-gradient(to right, rgb(37, 202, 231), rgb(6, 127, 136));
      border: 2px solid #00ffe5;
      border-left: none;
      color: white;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      border-radius: 0 10px 10px 0;
      cursor: pointer;
      font-family: "Orbitron", sans-serif;
    }

  @media (max-width: 768px) {
    .cardGame {
     flex-direction: row;
     width: 100%;
     aspect-ratio: 4 / 3;
    }
  
    .imgBackground {
    width: 50%;
  }

  .cardOverlay {
    width: 50%;
    padding: 0.8rem;
  }

    
  }