/* === CONTENEDOR GENERAL DE LAS TARJETAS Y GENEROS=== */
.containerHome {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  width: 100%;
  min-height: 100vh; 
  }

/* === CONTENEDOR DE TODOS LOS JUEGOS === */
.AllGames {
  display: flex;
  flex-direction: column;
  flex: 1 ;
  min-height: 100vh;
  width: 100vw; 
  gap: 2.5rem;
  padding: 3rem 2rem 6rem;
  background: radial-gradient(ellipse at top left, #1c1c1c, #0f0f0f);
  box-sizing: border-box;
}

/* === MEDIA QUERIES === */

@media (max-width: 1024px) {
  /* === CONTENEDOR GENERAL DE LAS TARJETAS Y GENEROS=== */
  .containerHome {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    height: auto;
  }

  /* === GAMES === */
  .AllGames {
    width: 100%;
    height: 100vh;
    padding: 2rem 1rem;
  }
}
