/* === NAVBAR GENERAL === */
.navbar-container {
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
  box-shadow: 0 4px 12px rgba(0, 255, 255, 0.1);
  padding: 1rem 2rem;
  position: sticky;
  width: auto;
  top: 0;
  z-index: 100;
  flex-shrink: 0;
}

/* === NAV STRUCTURE === */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* === LOGO === */
.logo {
  color: #00ffe5;
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
  text-shadow: 0 0 5px #0c0c0c;
  text-decoration: none;
  white-space: nowrap;
}

.Active {
  border: 2px solid #00ffe5;
  color: #00ffe5;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: rgb(8, 90, 117);
  box-shadow: 0 0 10px #00ffe5, 0 0 20px #00ffe5;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  cursor: pointer;
}

.Inactive {
  border: 2px solid #00ffe5;
  color: #00ffe5;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  cursor: pointer;
}

.InputButton {
  background: linear-gradient(to right, rgb(37, 202, 231), rgb(6, 127, 136));
  border: 2px solid #00ffe5;
  border-left: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0 10px 10px 0;
  cursor: pointer;

  font-family: "Orbitron", sans-serif;
}

/* HAMBURGUESA */
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: #00ffe5;
  cursor: pointer;
  padding: 0.25rem;
}

/* WRAPPER del lado derecho */
.navbar-right-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* === RIGHT SIDE === */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
  .navbar {
    gap: 1rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .hamburger {
    display: block; /* visible en móvil */
  }

  /* navbar-right cerrado */
  .navbar-right {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background: #0f0f0f;
    flex-direction: column;
    width: 200px;
    padding: 1rem;
    box-shadow: -4px 4px 12px rgba(0, 255, 255, 0.2);
  }

  /* navbar-right abierto */
  .navbar-right.open {
    display: flex;
  }
}
