.appLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ocupa toda la altura de la ventana */
}

.appContent {
  flex: 1; /* empuja el footer al fondo */
  display: flex;
  flex-direction: column;
}