#root {
  width: 100%;
  min-height: 100vh;
   display: flex;
  flex-direction: column;
}

body, html{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(31, 31, 39);
  overflow-x: hidden;
  
}


*{
  list-style: none;

}